<li>
  <%= comment.body %> - <em><%= comment.commenter %></em>
  <br>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</li>
